################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Vaja/.vs/Vaja/v16/Server/sqlite3
/Vaja1/.vs/Vaja1
/VajaPodjetje/.vs/VajaPodjetje
/VajaPodjetje/VajaPodjetje/App_Data
/220421/AsinhroniTaski/.vs/AsinhroniTaski
/220421/Program/.vs/Program
/220421/PrvaAPI/.vs
/DBFirst/.vs/DBFirst
/TestBootstrap2/.vs/TestBootstrap2
/TrgovinaWebAPI/.vs/TrgovinaWebAPI
/SpletnaAplikacijaBenjaminMrzek/.vs/SpletnaAplikacijaBenjaminMrzek
