################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Vaja/.vs/Vaja/v16/Server/sqlite3
/Vaja1/.vs/Vaja1
/VajaPodjetje/.vs/VajaPodjetje
/VajaPodjetje/VajaPodjetje/App_Data
