@{
    ViewBag.Title = "Vstopna stran";
}
<html>
<head>
    <meta charset="utf-8" />
</head>
<body>
    <div style="margin-top:15px;margin-bottom:50px;">
        <h1 style="text-align:center;color:navy;">SPLETNA APLIKACIJA</h1>
        <h2 style="text-align:center;">ZA PREDMET RAZVOJ PROGRAMSKIH APLIKACIJ</h2>
    </div>
    <p style="line-height:35px;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer viverra sem eget tellus mollis euismod. Praesent ut sapien nec quam placerat blandit. Nullam nec risus est. In ut orci in erat vestibulum lacinia ut non felis. Quisque id neque et erat commodo vestibulum. Vivamus sollicitudin hendrerit nulla at dapibus. Etiam nibh lorem, sagittis at egestas rhoncus, molestie a sapien. Donec pretium magna vitae mattis auctor. Fusce pellentesque tellus a leo rutrum porttitor. Vestibulum dictum, nunc nec porta convallis, nibh nibh ornare ex, eget euismod lacus lorem vel tortor. Proin cursus vehicula feugiat. Proin convallis nunc justo, sed fermentum leo feugiat sit amet.

        Ut euismod nulla in lacus molestie, eu fermentum purus auctor. Fusce efficitur tincidunt libero, in ornare dui bibendum ut. Aliquam nec lacinia ipsum. Nunc sit amet dapibus ipsum, id condimentum sem. Pellentesque rhoncus nibh velit, et sodales diam imperdiet ut. Phasellus dignissim non ipsum in faucibus. Donec vitae justo sagittis, posuere augue vitae, rhoncus ante. Curabitur at risus quis elit laoreet lobortis a non lorem.

        Fusce feugiat lacus eget metus laoreet, sit amet malesuada neque tincidunt. Praesent vulputate, nisi in varius egestas, ante metus rutrum lorem, eu gravida sapien arcu eget libero. Duis dui felis, semper eu interdum scelerisque, varius ac ex. Nunc semper, lectus sed feugiat malesuada, nulla ipsum sagittis diam, eu imperdiet elit risus eu libero. Vivamus fringilla nisi a ligula accumsan, a ultricies nunc tristique. Morbi fermentum ante ac tortor egestas dictum. Nullam varius mollis risus sed facilisis. Nulla fermentum ante quis ultricies venenatis. Nullam semper turpis ultricies arcu varius, a consequat elit sodales. Etiam sed ultrices nibh. Nunc semper mattis sagittis. Sed pellentesque ligula vitae placerat vulputate. Nam gravida enim non nisl fermentum blandit. Integer mollis interdum accumsan. Aenean hendrerit dignissim ipsum eget pretium. Donec iaculis scelerisque maximus.

        Proin molestie ligula ac diam volutpat, at imperdiet tellus consequat. Fusce at ligula sem. Curabitur imperdiet orci at viverra condimentum. Vivamus non magna vel ipsum finibus tempus non id purus. Morbi facilisis volutpat pulvinar. Integer bibendum justo in dui ultrices porttitor. Fusce feugiat orci ex, sed consequat sapien blandit sit amet. Praesent at ex et lacus mattis feugiat non non ex. Cras hendrerit, libero sed auctor sagittis, diam metus efficitur felis, nec bibendum mi dolor sit amet lacus. Integer non nunc felis. In sit amet nibh et erat commodo tempor nec id sapien. Duis porta tortor placerat arcu finibus euismod. Sed ut lectus sit amet sapien volutpat auctor quis nec erat. Sed fringilla facilisis felis id ullamcorper.

        Ut ultricies orci sed tellus volutpat, sit amet faucibus tellus lacinia. Duis consectetur erat et lacus scelerisque volutpat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec varius erat vel mauris vestibulum accumsan. Etiam non ex ullamcorper, cursus turpis sed, posuere nisi. Sed ex dui, dictum vitae est placerat, blandit ultrices nisi. Praesent viverra convallis dignissim. Nunc tempus eget est sed luctus. Suspendisse suscipit accumsan libero at rutrum.
    </p>
</body>
</html>
