
@{
    ViewBag.Title = "Izpis JSON";
}
<html>
<head>
    <title>huhuhu</title>
</head>
<body>
    <h1 style="text-align:center;margin-top:15px;">JSON izpis</h1></br>
    <code>
       @ViewBag.Jsonrezultat
    </code>
</body>
</html>